# FastAPI
fastapi
uvicorn[standard]

# Data
pandas
numpy
scipy

# ML
scikit-learn
xgboost
torch
joblib

# Visualization (có thể bỏ nếu không dùng trong API)
matplotlib
seaborn

# Time series
pmdarima

# Database
sqlalchemy
psycopg2-binary

# Env
python-dotenv